<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhumika.bookapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FBMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FBInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AddBook"
            android:screenOrientation="portrait"
            android:label="Add Book"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBookScan"
            android:label="Add Book"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarcodeScannerActivity"
            android:label="Scan ISBN"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Details"
            android:label="Book Details"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".User"
            android:label="My Books"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Feedback"
            android:label="Feedback"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".About"
            android:label="About"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvoPAeuwASdJfrriPzrZisYTkwEZxAhpI" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MySettings"
            android:label="Settings"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>